/* footer.css */

/* Basic styles for the footer */
.footer {
  /* background-color: #470b003b; */
  color: #ecf0f1;
  padding: 20px 0;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
  width: 100%;
}

.footer-content {
  margin-bottom: 10px;
}

.footer p {
  margin: 5px 0;
  font-size: 14px;
  color: black;
}

.footer a {
  color: #ecf0f1;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}

/* Styling the 'scroll to top' button */
.footer_scroll {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.footer_scroll button {
  background-color: #5e26005e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.footer_scroll button:hover {
  background-color: #eb8d00;
}

.footer_scroll button:focus {
  outline: none;
}

